@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Normalization */

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button,
ul,
ol {
  font-family: 'Barlow Semi Condensed', sans-serif;
}
